@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,500;1,400&display=swap');
body{
    font-family: 'Poppins', sans-serif;
}
header{
    text-align: center;
}
.input-div{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 10px;
}
.result-significado ol{
    list-style: none;
}
#palavra-search{
    outline: none;
}