@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,500;1,400&display=swap');
body{
    font-family: 'Poppins', sans-serif;
    background-color: #242424;
}
header{
    margin: 0 auto;
    width: 90%;
    text-align: center;
    color: white;
}
.input-div{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 10px;
}
.result-significado ol{
    list-style: none;
}
#palavra-search{
    outline: none;
    width: 70%;
    height: 40px;
    border-radius: 10px;
    border: none;
    background-color: #333333;
    color: white;
    padding-left: 15px;
    font-size: 16px;
}
#search-button, #error-div > button{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border: none;
    border-radius: 10px;
    font-weight: 700;
    font-size: 14px;
    height: 40px;
    width: 40px;
    cursor: pointer;
}
#search-button:hover, #error-div > button:hover{
    background-color: #f8f8f8;
}
#search-button img{
    width: 55%;
}
section{
    margin: 0 auto;
    color: white;
    width: 90%;
}
#error-div{
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    align-items: center;
    width: 50%;
    min-width: 50%;
    height: 25vh;
    border-radius: 15px;
    background-color: #333333;
    margin-top: 90px;
    transition: .2;
    border: #f8f8f8 2px solid;
}
#error-div > button{
    width: 6%;
    min-width: 60px;
}
#error-div > div{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-left: 20px;
    margin-right: 20px;
}
#error-div img{
    width: 5%;
    min-width: 35px;
}
@media screen and (max-width: 600px){
    #error-div{
        width: 80%;
        height: 20vh;
        font-size: 12px;
    }
}